<mat-card class="register-card custom-card" *ngIf="infoSended == false">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Elige una elección a participar</mat-label>
            <select matNativeControl required #selectedElection>
                <option *ngFor="let election of electionsToRequest" value="{{election.id}}">{{election.name}}</option>
            </select>
        </mat-form-field>

        <form class="register-form">
            <mat-form-field class="full-width">
                <input matInput placeholder="Username" #username>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="pass" #pass>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary"
            (click)="send(username.value, pass.value, selectedElection.value)">SEND</button>
    </mat-card-actions>
</mat-card>


<mat-card class="response-card custom-card" *ngIf="infoSended">
    <mat-card-header>
        <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <strong>
                Voter Id
            </strong>
            {{this.user.voterId}}
        </div>
        <br/>
        <div>
            <strong>
                Public Key
            </strong>
            e: {{this.user.pubKey.e}}
            <br/>
            n: {{this.user.pubKey.n}}
        </div>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn" (click)="reset()">CLEAR</button>
    </mat-card-actions>
</mat-card>