.candidates-card{
    min-width: 150px;
    max-width: 500px;
    width: 150%;
    
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
  }

  form.candidates-list {
    padding-left: 5%;
}

  .candidate-button{
    margin-left: 5%;
    margin-right: 5%;
}

mat-radio-group.mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

mat-radio-button {
  margin: 5px;
}