<mat-toolbar class="corporativebar" color="primary">
  <span class="example-spacer"></span>
  <span class="corporative-brand title-company">Electronic Vote</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-toolbar class="navbar" color="primary">
  <button mat-flat-button color="primary" routerLink="/censo">Censo</button>
  <button mat-flat-button color="primary" routerLink="/urna">Urna</button>
</mat-toolbar>


<app-root></app-root>
<div class="body-component">
  <router-outlet></router-outlet>
</div>